<div id="ask-question">
    <div class="sub-title">Get Started</div>
        <div id="question-input">
            <%= render :partial => "question", :locals => { :button_label => 'Can I Afford it?' } %>
        </div>
    </div>
</div>