<div style="padding: 0px 20px;">
<h2>About the Service</h2>
Can I Afford It? applies well established personal finance best practices to your current <br/>
financial circumstances and thereby helps you in making your decisions on any purchases.<br/>
The more data you provide, the more accurate the results will be.<br/>
However, it is still meant to be only a sanity check and not decisive by any stretch.<br/>
We acknowledge that individual judgments may vary and hence we allow our community members <br/>
to voice their opinions as well. <br/>
We hope this will provide a well-rounded response to the question posed.

<h2>About the Team</h2>
 Conceived and Built by <a href="mailto:hrajagopal@yahoo.com">Hari Rajagopal</a>
 and <a href="mailto:satish.fnu@gmail.com">Satish Singh</a>.
</div>