<h2>Based on Your Financial Data</h2>
<div id="financial-details" style="margin-top:20px;">
    <%= render :partial => "financial_details", :object => @financial, :local => {:question => @question} %>
</div>


<fieldset>
  <legend><b>Expert Verdict</b></legend>

  <% if @expert_details.empty? %>
     <div id='expert-denied'>Expert does not have sufficient data</div>
  <% else %>
      <% if @expert_verdict == true %>
        <div id='expert-approved'>You have been Approved </div>
      <% else %>
        <div id='expert-denied'>You have been Denied.</div>
      <% end %>
  <% end %>  

</fieldset>

<div id="expert-response">
<fieldset>
  <legend><b>Details</b></legend>
  <ul>
    <%= @expert_details %>
  </ul>
</fieldset>
</div>

