<div style="padding:10px;">
  <div id="snippets-header" style="height:64px;">
      <div style="float:left;">
      <h1>Recently asked Questions</h1>
      </div>
      <div style="float:right;">
      <%= link_to image_tag('/images/ask.png'), {:controller => :questions , :action => :new} %>
      </div>
  </div>


    <div id="snippets">
    <%= render :partial => 'snippet' ,:collection => @questions, :as => :question, :spacer_template => 'separator' %>
    </div>
</div>

<%= link_to image_tag('/images/ask.png'), {:controller => :questions , :action => :new} %>

