    
<fieldset>
 
    <div style="float:left;">
        <h2>Ask Your Question</h2>
    </div>
 
    <div class="warning">
        Please be assured that the data collected here will remain completely Anonymous.<br/>
        No Personally Identifying information will be stored as part of this data.
    </div><br/>
</fieldset>

<div id="question-input">
    <%= render :partial => "question", :locals => { :button_label => 'Next >' } %>
</div>

