<h2>Disclaimer</h2>
<fieldset>
  This verdict and the report are meant only as a guidance. (You knew that, didn't you ;). Use it responsibly.<br/>
  We do not guarantee this to be accurate every time.<br/>
  Please take professional financial advisor's guidance before making any purchases.<br/><br/>
  <b>You agree to release us from any damage that this may cause you.</b><br/><br/>

  Wishing you more Affordability!<br/>
  The 'Can I Afford It?' Team<br/>

</fieldset>