
Hi there!<br/><br/>

A new question has been posted on our site. <br/>

<p>
You can see it at <%= @question_url %>
</p>
<p>
Happy Affording,<br/>
-Can I Afford It? Team<br/>
</p>

<div style="margin-top: 3px;font-size:12px;color:#9e948a;">
 
If the above link does not work try copying and pasting it into your browser.<br/>
If you continue to have problems please feel free to <a href="mailto:mailto:caniafforditnow@gmail.com">contact us</a>.<br/>

NOTE:<br/>
<span style="font-size:85%;color:#333333;">
You are receiving this email because your email address was subscribed to receive notifications. <br/>
To unsubscribe, <a href="mailto:caniafforditnow@gmail.com"> please mail us </a>with the subject unsubscribe<br/>
We sincerely apologize for the inconvenience.
</span>
</div>


