
<p>
    Here is a feedback on the Expert Report.<br/>
    Useful: <br/>
    <%= @useful %><br/>
    Suggestion: <br/>
    <%= @suggestion %>
</p>

<p>
Happy Affording,<br/>
-Can I Afford It? Team<br/>
</p>
