body { 
  color: #444444; 
  font-family:'Droid Sans',helvetica,Arial,sans-serif;
  font-size:   16px;
  line-height: 1.3em;
  width:100%;
  margin: 0 auto;
  background-color:#89B556;
  background:url("/images/background.jpg") repeat-y scroll 50% 0 #89B556;
}

p, ol, ul, td {
  font-family:'Droid Sans',helvetica,Arial,sans-serif;
  font-size:   16px;
  line-height: 1.3em;
  width:100%;
  margin: 0 auto;
  background-color1:#eefad6;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 12px;
}
select {
    background-color:#eefad6;
}
a {
color:#037ec4;
cursor:pointer;
outline:medium none;
text-decoration:none;
}
a:visited { color: #045f93; }
a:hover { color: #045f93; text-decoration:underline; }

.fieldWithErrors {
  padding: 2px;
  color: red;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul  {
    width:638px;
}
#errorExplanation ul li {
    list-style: circle;
    text-align:left;
    list-style-image:url("/images/unchecked.gif")
}

/* App specifif*/

fieldset {
    background:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
    border-color:#C9DCA6 -moz-use-text-color -moz-use-text-color;
    border-right:medium none;
    border-style:solid none none;
    border-width:1px medium medium;
    margin:10px;
    text-align: left;
}
legend {
    color:#038819;
}
#header {
    
}
#top-header {
    clear:both;
    height:35px;
    width:100%;
}
form {
color:#333333;
display:block;
}

form, fieldset {
padding:0 10px;
}

form fieldset p, form fieldset fieldset {
/* background:url("/images/divider.gif") repeat-x scroll left bottom transparent; */
padding:5px 10px 7px;
}

form fieldset p {
list-style:none outside none;
margin:0;
padding:5px 0;
text-align:left;
}

img {
    border:0;
}
#logo img {
    margin-left:-10px;
}
#main{
    margin:0 auto;
    position:relative;
    text-align:center;
    clear:both;
}

#footer {
    margin-top: 30px;
    position:relative;
    text-align:center;
    width:710px;
    clear:both;
}
#footer ul {
    background:none;
}

#superwrapper {
    margin:0 auto;
    padding:0;
    position:relative;
    text-align:left;
    width:946px;
}
#wrapper {
    background:none repeat scroll 0 0 #ffffff;
    border-bottom:1px solid #c1cbaf;
    border-right:1px solid #c1cbaf;
    padding:0;
    position:relative;
    margin:0;   
    text-align:center;
    width:976px;
}
#layer {
    margin:0 auto;
    position:relative;
    text-align:center;
    width:956px;
}
h1, h2,h3 {
    text-align: left;
    color:#038819;
}
.warning {
    color:#B20804;
    font-weight: bold;
    clear:both;
}
#tagline {
    margin-top:75px;
    margin-bottom:10px;   
}
#tagline ul {    
    background-color:#fff;
    font-size:23px;
    height:90px;
    overflow:hidden;   
    line-height:1.3em;
    clear:both;
    width:810px;
}
#tagline ul li {
    list-style:none;
    text-align:left;
    list-style-image: url('/images/tick.png');
    color:#038819;
}
.snippet {
    border-color:#DDDDDD #CCCCCC #BBBBBB #DDDDDD;
    border-style:solid;
    border-width:1px 2px 2px 1px;
}
#snippets {
    clear:both;
    text-align:left;
    margin-top:10px;
    line-height:1.2em;
}
.snippet-even {
    background-color:#fff;
    padding: 10px;
}
.snippet-odd {
  background:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
  padding: 10px;
}
.snippet-footer {    
    font-size:12px;
    text-align:right;
}
.snippet-footer a:hover {
    text-decoration: underline;
}
.ui-tabs .ui-tabs-nav {
width: 99%;
}
.line-item {
    padding:3px;
}
#financial-details, #user-response, #expert-response,#all-responses {
    text-align: left;
}
#expert-response ul {
    background:none;
    font-family:monospace;
}
#logo {
    float:left;
    left:0;
    position:absolute;
}
#login {
    padding:3px 5px;
    font-size:13px;
    position:absolute;
    right:0;
    top:5px;
    text-align:right;
}

#login a {
color:#05ac21;
letter-spacing:1px;
cursor: pointer;
}
#login a:hover {
    outline: medium none;
    color: #038819;
}
#user-stat {
    float:left;
    color:#FF4800;
    margin-left:10px;
    border-bottom1:1px dotted;
}
#user-response ul li {
    list-style:none;
}
#user-response ul {
    width:638px;
}
.expert-approved{
    font-weight:bold;
    color:green;
    padding-top:5px;
}
.expert-denied{
    font-weight:bold;
    color:red;
    padding-top:5px;
}
#all-responses {
    text-align: left;
}
#notification-prompt{
    clear:both;
    margin-top: 20px;
    padding:8px 3px;
    text-align: left;
    background-color:#F1FAFE;
    color:#037EC4;
    margin:0 auto;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
}

#footer ul li {
     display:inline;
     font-size:12px;
}
#footer a {
     text-decoration:none;
}
#notification-status, #notification-status-password{
    color: red;
    margin-bottom: 0;
    padding-left: 11px;
    font-size:12px;
    font-weight:normal;
}
#block-text {
    padding: 0px 20px;
    text-align:left;
    line-height:1.8em;
    font-family:Georgia,serif;
}
#block-text p{    
    margin-bottom:20px;
    background:none no-repeat scroll 0 0 transparent;
    line-height:24px;
    font-family:Georgia,serif;
    color:#656465;
}
.green {
    color:green;
}
.red {
   color:red;
}

#expert-response ul{
  width:830px;
}
#expert-response ul li.green{
  list-style-image: url('/images/checked.gif');
  line-height:1.5em;
}
#expert-response ul li.red{
  list-style-image: url('/images/unchecked.gif');
  line-height:1.5em;
}
#expert-response ul li.expert-notes{
  list-style-image: url('/images/overlays.png');
  line-height:1.5em;
  margin-left:25px;
  color:#037EC4;
  font-size:80%;
}
#expert-response ul li.expert-alert{
  list-style-image: url('/images/note_error.png');
  line-height:1.5em;
  margin-left:25px;
  color:#037EC4;
  font-size:80%;
}
#expert-response ul li.expert-tips{
  list-style-image: url('/images/lightbulb.png');
  line-height:1.5em;
  background-color:#FFE6EA;
  margin-top:20px;
}
.float-left {
    width:180px;   
    float:left;
}
.float-left-long {
    width:300px;   
    float:left;
}
.float-left-xlong {
    width:400px;   
    float:left;
}
input[type="text"],select {
    font-family: sans-serif;
    font-size: 16px;
    margin-top:3px;
    padding:3px;
}
#financial-input input[type="text"], #question-input input[type="text"]{
    width:25%;
    font-weight:bold;
}
#financial-input label, #question-input1 label {
    float:left;
    width:230px;
    text-align:right;
    margin:8px 10px 0 0;
}
#financial-input-long label{
    float:left;
    width:290px;
    text-align:right;
    margin:8px 10px 0 0;
}
#question-input-short label{
    float:left;
    width:170px;
    text-align:right;
    margin:8px 10px 0 0;
}
input#question_item_name {
   font-weight:normal !important;
   width:80% !important;
   color: #999999 ;
}

.quote {
    margin-top:5px;
    padding-left: 20px;
}

#new_user input, #new_user_session input, input#password {
    font-family: sans-serif;
    font-size: 16px;
    margin-top:3px;
    padding:3px;
}
#learn a {
    font-size: 18px;
}
#learn {
    float:left;
    margin-top:-40px;
}
#experience {
    font-size: 12px;
 }
 #rules-feedback {
    margin-top: 20px;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    background-color:#F1FAFE; 
    border-top:1px dotted #038819;
}
.feedback-dialog {
    background-color:#fff;
    height:auto;
    position:fixed;
    right:0pt;
    text-align:left;
    top:140px;
    width:auto;
    padding: 5px;
}
#rules-feedback textarea, #experience textarea, #experience input, #experience select, #rules-feedback input {
    font-family: verdana;
    font-size: 12px;
}
#rules-feedback h3,  #experience h3, #expert-response h3, #question h2 {
    color: #037EC4;
}
#question {
    margin-top: 30px;
    text-align: left;
    line-height:1.5;
}
#question ol li {
    margin-bottom: 10px;
    padding: 5px;
}
#question ol  {
    width:830px;
    background-color:#F1FAFE;    
}

#feedback-invoke {
    background-color:#A9ED2E;
    height:auto;
    position:fixed;
    left:0pt;
    text-align:left;
    top:340px;
    width:auto;
    padding: 5px;
}
#feedback-invoke a{
    background-color:#A9ED2E;
    color:#000000;
    font-weight:bold;
    padding:4px;
}
#feedback{
    background-color:#A9ED2E;
    height:auto;
    position:fixed;
    left:0pt;
    text-align:left;
    top:340px;
    width:auto;
    padding:2px;
    z-index:2000;
}
#inplace-login {
    width: 45%;
    float:left;
}
#inplace-register {
    width: 45%;
    float:right;
}
#divider {
        color:#FF4800;
        float:left;
        font-family:Georgia,serif;
        font-size:38px;
        font-style:italic;
        margin-top:70px;
        padding-left:20px;
        width:5%;
}
a.
