body { background-color: #fff; color: #444444; }

body, p, ol, ul, td {
  font-family:'Droid Sans',helvetica,Arial,sans-serif;
  font-size:   16px;
  line-height: 1.3em;
  width:100%;
  margin: 0 auto;
  background-color:#eefad6;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 12px;
}
select {
    background-color:#eefad6;
}
a {
color:#037ec4;
cursor:pointer;
outline:medium none;
text-decoration:none;
}
a:visited { color: #045f93; }
a:hover { color: #045f93; text-decoration:underline; }

.fieldWithErrors {
  padding: 2px;
  color: red;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul  {
    width:638px;
}
#errorExplanation ul li {
    list-style: circle;
    text-align:left;
    list-style-image:url("/images/unchecked.gif")
}

/* App specifif*/

fieldset {
    background:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
    border-color:#C9DCA6 -moz-use-text-color -moz-use-text-color;
    border-right:medium none;
    border-style:solid none none;
    border-width:1px medium medium;
    margin:10px;
    text-align: left;
    letter-spacing:0.5px;
}
legend {
    color:#038819;
}
#header {
    background:url("/images/header.png") repeat-x scroll left bottom #ffffff;
}
#top-header {
    clear:both;
    height:35px;
    width:100%;
}
form {
color:#333333;
display:block;
}

form, fieldset {
padding:0 10px;
}

form fieldset p, form fieldset fieldset {
background:url("/images/divider.gif") repeat-x scroll left bottom transparent;
padding:5px 10px 7px;
}

form fieldset p {
list-style:none outside none;
margin:0;
padding:5px 0;
text-align:left;
}

img {
    border:0;
}
#main{
    margin:0 auto;
    position:relative;
    text-align:center;
}

#footer {
    margin-top: 30px;
    position:relative;
    text-align:center;
    width:710px;
}
#footer ul {
    background:none;
}

#superwrapper {
    margin:0 auto;
    padding:0;
    position:relative;
    text-align:left;
    width:946px;
}
#wrapper {
    -moz-box-shadow:3px 3px 4px #c1cbaf;
    background:none repeat scroll 0 0 #ffffff;
    border-bottom:1px solid #c1cbaf;
    border-right:1px solid #c1cbaf;
    padding:0;
    position:relative;
    margin:0;   
    text-align:center;
    width:776px;
}
#layer {
    margin:0 auto;
    position:relative;
    text-align:center;
    width:756px;
}
h1, h2,h3 {
    text-align: left;
    color:#038819;
}
.warning {
    color:#B20804;
    font-weight: bold;
    clear:both;
}
#tagline {
    margin:30px 0px;
}
#tagline ul {    
    background-color:#038819;
    color:#ffffff;
    font-size:23px;
    height:65px;
    overflow:hidden;
    padding:10px 20px 7px 10px;
    line-height:1.3em;
    clear:both;
    width:715px;
    border-bottom:4px solid #06c626;
}
#tagline ul li {
    list-style:none;
    text-align:left;
}
#snippets {
    clear:both;
    text-align:left;
    margin-top:10px;
    line-height:1.2em;
}
.snippet-even {
    background-color:#fff;
    padding: 10px;
}
.snippet-odd {
  background:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
  padding: 10px;
}
.snippet-footer {    
    font-size:12px;
    text-align:right;
}
.snippet-footer a:hover {
    text-decoration: underline;
}
.ui-tabs .ui-tabs-nav {
width: 99%;
}
.line-item {
    padding:3px;
}
#financial-details, #user-response, #expert-response,#all-responses {
    text-align: left;
}
#logo {
    float:left;
    left:0;
    position:absolute;
}
#login {
    padding:3px 10px;
    font-size:13px;
    position:absolute;
    right:0;
    top:20px;
}

#login a {
color:#05ac21;
letter-spacing:1px;
cursor: pointer;
}
#login a:hover {
    outline: medium none;
    color: #038819;
}
#user-stat {
    float:left;
    color:#FF4800;
    margin-left:10px;
    border-bottom:1px dotted;
}
#user-response ul li {
    list-style:none;
}
#user-response ul {
    width:638px;
}
.expert-approved{
    font-weight:bold;
    color:green;
    padding-top:5px;
}
.expert-denied{
    font-weight:bold;
    color:red;
    padding-top:5px;
}
#all-responses {
    text-align: left;
}
#notification-prompt{
    clear:both;
    margin-top: 10px;
    padding:15px 3px;
    color: #fff;
    text-align: left;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#F8FDEF url(/images/fieldset.gif) repeat-x scroll left bottom;
}

#footer ul li {
     display:inline;
     font-size:12px;
}
#footer a {
     text-decoration:none;
}
#notification-status{
    color: red;
    margin-bottom: 0;
    padding-left: 11px;
    font-size:12px;
    font-weight:normal;
}
#block-text {
    padding: 0px 20px;
    text-align:left;
}
#block-text p{
    letter-spacing:0.3px;
    line-height:1.5em;
}
.green {
    color:green;
}
.red {
   color:red;
}

#expert-response ul{
  width:630px;
}
#expert-response ul li.green{
  list-style-image: url('/images/checked.gif');
  line-height:1.5em;
}
#expert-response ul li.red{
  list-style-image: url('/images/unchecked.gif');
  line-height:1.5em;
}
.float-left {
    width:180px;   
    float:left;
}
.float-left-long {
    width:300px;   
    float:left;
}
.float-left-xlong {
    width:400px;   
    float:left;
}
input[type="text"],select {
    font-family: sans-serif;
    font-size: 16px;
    margin-top:3px;
    padding:3px;
}
#financial-input input[type="text"], #question-input input[type="text"]{
    width:50%;
    font-weight:bold;
}
input#question_item_name {
   font-weight:normal !important;
   width:80% !important;
   color: #999999 ;
}

.quote {
    margin-top:5px;
    padding-left: 20px;
}

#new_user input, #new_user_session input, input#password {
    font-family: sans-serif;
    font-size: 16px;
    margin-top:3px;
    padding:3px;
}
