<fieldset>
  <div class="warning">
    Please be assured that this data will remain completely Anonymous.<br/>
    No Personally Identifying information will be stored as part of this data.
  </div><br/>

  <% form_tag :action => :create_account, :id => @question.id do %>
    <% if false %>
        <fieldset>
             <legend><b>Send me this Report</b></legend>
             <p>
              If you would like to receive this report by email, please provide your email address: <br/>
              We will NOT save this
              <%= text_field_tag :email, params[:email], :size => 50 %>
             </p>
        </fieldset><br/>
    <% end %>

   <fieldset>
       <legend><b>Register</b></legend>
       <p>
        Nick Name<br/>
        <%= text_field_tag :nick_name, @question.nick_name, :size => 30 %>
       </p>
       <p><br/>
        If you would like us to retrieve this financial data for your future questions,<br/>
        please provide a password so you can access it later.<br/>
        <%= password_field_tag :password, params[:password], :size => 30 %>
        <span style="color:#c40e0e;">Note: Please remember this password as there is no other way for us to give you access to your data if you lose it.</span>
       </p>
   </fieldset>
   <p>
    <br/><%= submit_tag "Submit Data and Get Expert Verdict", :name => nil %>
   </p> 
   <% end %>
</fieldset>

