<% if current_user %>      
    <% if current_user.financials.size > 0 %>
        <br/><span style=font-weight:bold;color:red;">We have imported your financial data from your most recent question</span>
    <% end %>
<% end %>

<div id="financial-input">
<%= render :partial => 'financial', :locals => {:button_label => 'Next >'} %>
</div>